html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #bbdefb; /* Harita alanı arka plan rengi */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; /* Hafif yuvarlak köşeler */
}

#kesintilist{
    max-height: 100vh;
    overflow: auto;
}

/* Flex container için stiller */
#flex-container {
    display: flex;
    height: 100%; /* Sayfanın tamamını kapla */
}

/* Sol ve sağ bölüm stilleri */
#flex-item {
    flex: 1; /* Eşit genişlikte iki bölüm oluştur */
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Padding ve border hesabı içeriğin dışında kalsın */
}

/* Sol bölüm özel stilleri */
#left-section {
    width: 70%;
    background-color: #f0f0f0;
}

/* Sağ bölüm özel stilleri */
#right-section {
    width: 30%;
    background-color: #cdeefd;
}

.card {
    border: 1px solid #0313f1;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0;
    box-shadow: 0 2px 4px #303358;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .card div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
  }
  .card strong {
    width: 150px; /* Başlıkların genişliğini ayarlayabilirsiniz */
    font-weight: bold;
    flex-shrink: 0;
  }
  .card span {
    flex-grow: 1;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(153, 39, 39, 0.2);
  }